<div class="jumbotron-thin">
    <div class="container">
        <h1>Contact Info</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Email</h2>
            <a href="mailto:aaron.cake@gmail.com" target="_blank">aaron.cake@gmail.com</a>
        </div>
        <div class="col-sm-6">
            <h2>Phone</h2>
            (717) 298-0835
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>LinkedIn</h2>
            <a href="http://www.linkedin.com/in/aaroncake/" target="_blank">Aaron Cake on LinkedIn</a>
        </div>
        <div class="col-sm-6">
            <h2>GitHub</h2>
            <a href="https://github.com/gotcake" target="_blank">Aaron Cake on GitHub</a>
        </div>
    </div>
<div>
