<div class="jumbotron">
    <div class="container">
        <div class="grid-row-md">
            <div class="grid-col-1-3"><img src="images/profile_med_small.jpg" alt=""/></div>
            <div class="grid-col-2-3">
                <h1>About Me</h1>
                <p>
                    My name is Aaron Cake. I am a software developer and student at Rochester Institute of Technology. I also moonlight as a DJ and music producer. I have a 
                    background in a variety of software but specialize in full-stack enterprise web application development. And I love taking on challenges - that's how I learn and grow.
                </p>
                <p>
                    <em class="construction-alert">This site is currently under construction, please excuse the relative lack of content.</em>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="grid-row-md">
        <div class="grid-col-1-3">
            <h2>View My Résumé</h2>
            <p>
                Check out my responsively designed, web résumé. You can also download a PDF version for reference or printing.
            </p>
            <p><a class="btn btn-default" href="#/resume/" role="button">Check It Out &raquo;</a></p>
        </div>
        <div class="grid-col-1-3">
            <h2>View My Projects</h2>
            <p>
                Check out some of the projects I've worked on. I'll be adding more projects, and demos/images when I get the chance.
            </p>
            <p><a class="btn btn-default" href="#/projects/" role="button">Check It Out &raquo;</a></p>
        </div>
        <div class="grid-col-1-3">
            <h2>Test Page</h2>
            <p>
                Yeah, it's a test <a href="/#/projects/test/">page</a>.
            </p>
            <p><a class="btn btn-default" href="#/projects/test/" role="button">Check It Out &raquo;</a></p>
        </div>
    </div>
    <hr>
</div> <!-- /container -->