<div class="jumbotron-thin">
    <div class="container">
        <div class="h1 floatfix">
            Projects
            <a href="https://github.com/gotcake" target="_blank" class="btn btn-default btn-lg header-button-right">
                <span class="glyphicon glyphicon-new-window"></span> Check Out My Github
            </a>
        </div>
    </div>
</div>
<div class="container">
    <h1>"Unofficial" Projects</h1>
    <h3>Things I've created as a learning experience but never produced a final product</h3>
    <div class="grid-row-sm">
        <div class="grid-col-1-2">
            <h2>CakeGame Engine</h2>
            <p>
                <a href="https://github.com/gotcake/CakeGameEngine">CakeGame Engine</a> is a game engine written in Java
                powered by OpenGL. This multi-year project proved to be the single greatest learning experience I've had.
                It's goal was to be a full featured framework for building games. It's not "complete" in 
                the sense that not every feature I originally wanted has been created. It provides a large number of features
                including asset management, window management, geometry packages, collision detection, vector and texture based text rendering,
                geometry rendering, a particle engine and more. 
            </p>
        </div>
        <div class="grid-col-1-2">
            <h2>Context Free Grammar Parser and Language</h2>
            <p>
                This was a project done by me in PHP (of all things) utilizing a custom modified CYK algorithm at it's core, 
                surrounded by a custom lexer and tree post-processor. It includes its own language for defining CFGs
                and spits out a parse tree that matches the structure of the original CFG definition. Unforunately it runs in O(n<sup>3</sup>) time so 
                it's rather impractical for large amounts of text, but it proved to be yet another good learning experience. When I have the time I will add a demo page to this site
                where you can create CFGs and parse text and see the output parse tree.
            </p>
            <p><a class="btn btn-default" href="#/projects/context-free-grammar/" role="button">Check It Out &raquo;</a></p>
        </div>
    </div>    
    <div class="grid-row-sm">
        <div class="grid-col-1-2">
            <h2>And More...</h2>
            <p>
                Sorry, more stuff will be added soon!
            </p>
        </div>
    </div>
</div>
